package com.github.shemhazai.mprw.config;

import java.text.SimpleDateFormat;
import java.util.ArrayList;
import java.util.List;
import java.util.Properties;

import javax.sql.DataSource;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.jdbc.core.JdbcTemplate;
import org.springframework.jdbc.datasource.DataSourceTransactionManager;
import org.springframework.jdbc.datasource.DriverManagerDataSource;

import com.fasterxml.jackson.databind.ObjectMapper;
import com.github.shemhazai.mprw.notify.MailNotifier;
import com.github.shemhazai.mprw.notify.Notifier;

@Configuration
public class Beans {
	@Bean
	public JdbcTemplate jdbcTemplate() {
		return new JdbcTemplate(dataSource());
	}

	@Bean
	public ObjectMapper objectMapper() {
		ObjectMapper objectMapper = new ObjectMapper();
		objectMapper.setDateFormat(new SimpleDateFormat("yyyy-MM-dd HH:mm"));
		return objectMapper;
	}

	@Bean
	public String baseUrl() {
		return "http://www.ropczyce.prospect.pl";
	}

	@Bean
	public DataSource dataSource() {
		DriverManagerDataSource dataSource = new DriverManagerDataSource();
		dataSource.setDriverClassName("com.mysql.jdbc.Driver");
		dataSource.setUrl("jdbc:mysql://localhost:3306/mprw");
		dataSource.setUsername("user");
		dataSource.setPassword("password");
		return dataSource;
	}

	@Bean
	public DataSourceTransactionManager transactionManager() {
		return new DataSourceTransactionManager(dataSource());
	}

	@Bean
	public List<Notifier> notifiers() {
		List<Notifier> notifiers = new ArrayList<>();
		notifiers.add(mailNotifier());
		return notifiers;
	}

	@Bean
	public MailNotifier mailNotifier() {
		MailNotifier notifier = new MailNotifier();
		notifier.setProperties(mailProperties());
		notifier.setAdminEmail("admin@domain.com");
		notifier.setEmail("user@gmail.com");
		notifier.setLogin("user");
		notifier.setPassword("password");
		return notifier;
	}

	private Properties mailProperties() {
		Properties props = new Properties();
		props.setProperty("mail.transport.protocol", "smtp");
		props.setProperty("mail.host", "smtp.gmail.com");
		props.setProperty("mail.smtp.auth", "true");
		props.setProperty("mail.smtp.port", "465");
		props.setProperty("mail.smtp.socketFactory.class",
				"javax.net.ssl.SSLSocketFactory");
		props.setProperty("mail.smtp.socketFactory.fallback", "false");
		return props;
	}
}